<div class="content">
  <h2 class="page-title">Fale Conosco</h2>
  <form
    (ngSubmit)="submitForm()"
    [formGroup]="contactForm"
    class="contact-form form"
  >
    <div class="form_container">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" required />
        <mat-error
          *ngIf="
            contactForm.get('name')?.invalid && contactForm.get('name')?.touched
          "
        >
          Nome é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-error
          *ngIf="
            contactForm.get('email')?.hasError('required') &&
            contactForm.get('email')?.touched
          "
        >
          Email é obrigatório
        </mat-error>
        <mat-error
          *ngIf="
            contactForm.get('email')?.hasError('email') &&
            contactForm.get('email')?.touched
          "
        >
          Email inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input matInput type="tel" formControlName="phone" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Assunto</mat-label>
        <input matInput type="text" formControlName="subject" required />
      </mat-form-field>

      <mat-form-field class="message-block">
        <mat-label>Mensagem</mat-label>
        <textarea
          matInput
          formControlName="message"
          class="input-message"
        ></textarea>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="contactForm.invalid"
      class="button"
    >
      Enviar
    </button>
  </form>
</div>
